<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users Control</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin">Назад</a>
    <a class="navbar-brand" href="/">Главная</a>
</nav>
<form method="post">
    <input type="number" name="id" placeholder="ID"/>
    <input type="text" name="username" placeholder="Username">
    <label>
        <input type="checkbox" name="ROLE_USER" th:checked="${ROLE_USER}"/>ROLE_USER
    </label>
    <label>
        <input type="checkbox" name="ROLE_ADMIN" th:checked="${ROLE_ADMIN}"/>ROLE_ADMIN
    </label>
    <input type="hidden" name="action" th:value="filter"/>
    <button type="submit" class="btn btn-primary">Find</button>
</form>
<h3 th:text="${deleteSuccess}"></h3>
<table class="table table-bordered">
    <thead>
    <th scope="col">ID</th>
    <th scope="col">UserName</th>
    <th scope="col">Roles</th>
    </thead>
    <th:block th:each="user: ${allUsers}">
        <tr>
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td>
                <th:block th:each="role: ${user.getRoles()}"><h5 th:text="${role} + ';'"></h5> </th:block>
            </td>
            <td>
                <form method="post">
                    <input type="hidden" name="userId" th:value="${user.getId()}"/>
                    <input type="hidden" name="action" th:value="show"/>
                    <button type="submit" class="btn btn-primary">Show</button>
                </form>
            </td>
            <td>
                <form method="post">
                    <input type="hidden" name="userId" th:value="${user.getId()}"/>
                    <input type="hidden" name="action" th:value="delete"/>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>