<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="general.html :: headerfiles"></th:block>
    <title>Products</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin">Назад</a>
    <a class="navbar-brand" href="/">Главная</a>
</nav>
<div id="app">
    <form v-on:submit.prevent="findProducts">
        <label>
            <input type="number" v-model="filterId" name="id" placeholder="ID"/>
        </label>
        <label>
            <input type="text" v-model="filterName" name="name" placeholder="Name">
        </label>
        <label>
            <select v-model="filterSelected" name="categoryFilter">
                <option value="none"></option>
                <option v-for="option in categories" v-bind:value="option">
                    {{option}}
                </option>
            </select>
        </label>
        <input type="submit" class="btn btn-primary findProducts" value="Find">
    </form>
    <h3 v-if="deleted != ''">Продукт {{deleted}} успешно удален</h3>
    <h3 v-if="createdStatus === true">Продукт успешно создан</h3>
    <h3 v-else-if="createdStatus === false">Перед созданием заполните все поля</h3>
    <table class="table table-bordered">
        <thead>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">View</th>
            <th scope="col">Action</th>
        </thead>
        <tr>
            <td>AUTO</td>
            <td>
                <label>
                    <input type="text"  v-model="createName" name="name" placeholder="Name">
                </label>
            </td>
            <td>
                <label>
                    <input type="number" v-model="price" name="price" placeholder="Price">
                </label>
            </td>
            <td>
                <label>
                    <select v-model="createSelected">
                        <option v-for="option in categories" v-bind:value="option">
                            {{option}}
                        </option>
                    </select>
                </label>
            </td>
            <td>
                <label>
                    <input type="text" v-model="description" name="description" placeholder="Description">
                </label>
            </td>
            <td>
                <label>
                    <input type="text" v-model="img" name="img" placeholder="Img"/>
                </label>
            </td>
            <td>
                <form v-on:submit.prevent="createProduct">
                    <input type="submit" class="btn btn-success" value="Create">
                </form>
            </td>
        </tr>
        <tr v-for="product in this.products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category}}</td>
            <td>{{product.description}}</td>
            <td>
                <form v-on:submit.prevent="showProduct(product)">
                    <input type="submit" class="btn btn-primary" value="Show">
                </form>
            </td>
            <td>
                <form v-on:submit.prevent="deleteProduct(product)">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </td>
        </tr>
    </table>
</div>
<script>
    window.app = new Vue({
        el: '#app',
        data: {
            deleted: '',
            createdStatus: '',
            filterId: null,
            filterName: '',
            filterSelected: '',
            createName: '',
            createSelected:'',
            price: null,
            description: '',
            img: '',
            categories: [],
            products: []
        },
        async mounted(){
            await this.getProducts()
        },
        methods: {
            getProducts: function (event){
                axios.get('/admin/allProducts')
                    .then(response=>{
                        this.products = response.data.products
                        this.categories = response.data.categories
                    })
            },
            findProducts: function (event) {
                axios.post('/admin/filterProducts',{
                    "id": this.filterId,
                    "name": this.filterName,
                    "categoryFilter": this.filterSelected === "none"? "":this.filterSelected
                })
                    .then(response=>{
                        this.products = response.data.products
                    })
            },
            createProduct: function (event) {
                axios.post('/admin/createProduct',{
                    "name": this.createName,
                    "price": this.price,
                    "categoryAdd": this.createSelected,
                    "description": this.description,
                    "img": this.img
                })
                    .then(response=>{
                        this.createdStatus = response.data
                        this.findProducts()
                    })
            },
            showProduct: function (product) {
                location.href = `/admin/products/${product.id}`
            },
            deleteProduct: function (product) {
                axios.delete(`/admin/deleteProduct/${product.id}`)
                    .then(response=>{
                        this.deleted = response.data
                        this.findProducts()
                    })

            }
        }
    })
</script>
</body>
</html>