<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<a href="/admin">Назад</a>
<a href="/">Главная</a>
<form method="post">
    <label>
        <input type="number" name="id" placeholder="ID"/>
    </label>
    <label>
        <input type="text" name="name" placeholder="Name">
    </label>
    <label>
        <select id="categoryFilter" name="categoryFilter">
            <option value="none"></option>
            <option th:each="category : ${categories.values()}" th:value="${category.getCategory()}" th:text="${category.getCategory()}"></option>
        </select>
    </label>
    <input type="hidden" name="action" th:value="filter"/>
    <button type="submit">Find</button>
</form>
<h3 th:text="${operationStatus}"></h3>
<table>
    <thead>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Price</th>
    <th scope="col">Category</th>
    <th scope="col">Description</th>
    <th scope="col">View</th>
    <th scope="col">Action</th>
    </thead>
    <tr>
        <td>AUTO</td>
        <form method="post">
            <td>
                <label>
                    <input type="text" name="name" placeholder="Name">
                </label>
            </td>
            <td>
                <label>
                    <input type="number" name="price" placeholder="Price">
                </label>
            </td>
            <td>
                <label>
                    <select id="categoryAdd" name="categoryAdd">
                        <option th:each="category : ${categories.values()}" th:value="${category.getCategory()}" th:text="${category.getCategory()}"></option>
                    </select>
                </label>
            </td>
            <td>
                <label>
                    <input type="text" name="description" placeholder="Description">
                </label>
            </td>
            <td>
                <label>
                    <input type="text" name="img" placeholder="Img"/>
                </label>
            </td>
            <td>
                <input type="hidden" name="action" th:value="create"/>
                <button type="submit">Create</button>
            </td>
        </form>
    </tr>
    <th:block th:each="product: ${allProducts}">
        <tr>
            <td th:text="${product.getId()}"></td>
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getCategory()}"></td>
            <td th:text="${product.getDescription()}"></td>
            <td>
                <form method="post">
                    <input type="hidden" name="productId" th:value="${product.getId()}"/>
                    <input type="hidden" name="action" th:value="show"/>
                    <button type="submit">Show</button>
                </form>
            </td>
            <td>
                <form method="post">
                    <input type="hidden" name="productId" th:value="${product.getId()}"/>
                    <input type="hidden" name="action" th:value="delete"/>
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>