<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>
<nav  class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin/users">Назад</a>
    <a class="navbar-brand" href="/admin">Админка</a>
    <a class="navbar-brand" href="/">Главная</a>
</nav>
<h5 th:text="${editStatus}"></h5>
<table class="table table-bordered">
    <thead>
    <th scope="col">ID</th>
    <th scope="col">UserName</th>
    <th scope="col">Roles</th>
    </thead>
    <tr>
        <td th:text="${userId}"></td>
        <form method="post">
            <td>
                <label>
                    <input type="text" name="username" placeholder="Username" th:value="${username}">
                </label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="ROLE_USER" th:checked="${ROLE_USER}"/>ROLE_USER
                </label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="ROLE_ADMIN" th:checked="${ROLE_ADMIN}"/>ROLE_ADMIN
                </label>
            </td>
            <td>
                <button type="submit" class="btn btn-warning">Edit</button>
            </td>
        </form>
    </tr>
</table>
</body>
</html>