<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="general.html :: headerfiles"></th:block>
    <title>concreteProduct</title>
</head>
<body>
<nav  class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin/products">Назад</a>
    <a class="navbar-brand" href="/admin">Админка</a>
    <a class="navbar-brand" href="/">Главная</a>
</nav>
<div id="app">
    <h5 v-if="editStatus === true">Продукт успешно изменен</h5>
    <h5 v-else-if="editStatus === false">Не удалось изменить продукт</h5><br>
    <img :src="product.img" alt="Нерабочая ссылка" height="200" width="250"><br>
    <table class="table table-bordered">
        <thead>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Img</th>
        </thead>
        <tr>
            <td>{{product.id}}</td>
            <td>
                <label>
                    <input type="text" v-model="name" name="name" :placeholder="product.name">
                </label>
            </td>
            <td>
                <label>
                    <input type="number" v-model="price" name="price" :placeholder="product.price"/>
                </label>
            </td>
            <td>
                <label>
                    <select v-model="selected">
                        <option v-for="option in categories" v-bind:value="option">
                            {{option}}
                        </option>
                    </select>
                </label>
            </td>
            <td>
                <label>
                    <input type="text" v-model="description" name="description" :placeholder="product.description"/>
                </label>
            </td>
            <td>
                <label>
                    <input type="text" v-model="img" name="img" placeholder="Img source"/>
                </label>
            </td>
            <td>
                <form v-on:submit.prevent="editProduct">
                    <input type="submit" class="btn btn-warning" value="Edit">
                </form>
            </td>
        </tr>
    </table>
</div>
<script>
    window.app = new Vue({
        el: '#app',
        data: {
            editStatus: '',
            name: '',
            price: null,
            selected: '',
            description: '',
            img: '',
            id: window.location.href.split("/").slice(-1)[0],
            product: null,
            categories: []
        },
        async mounted(){
            await this.getCategories()
            await this.getProduct()
        },
        methods: {
            getProduct: function (event){
                axios.get(`/admin/product/${this.id}`)
                    .then(response=>{
                        this.product = response.data
                        this.selected = this.product.category
                    })
            },
            getCategories: function (event) {
                axios.get('/getProductsCategories')
                    .then(response=>{
                        this.categories = response.data
                    })
            },
            editProduct: function (event) {
                axios.put(`/admin/product/${this.id}`,{
                    "name": this.name,
                    "price": this.price,
                    "category": this.selected,
                    "description": this.description,
                    "img": this.img,
                    "productId": this.id
                })
                    .then(response=>{
                        this.editStatus = response.data
                    })
            }
        }
    })
</script>
</body>
</html>