<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="general.html :: headerfiles"></th:block>
    <title>Title</title>
</head>
<body>
<nav  class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Главная</a>
    <a class="navbar-brand" href="/admin/users">Назад</a>
    <a class="navbar-brand" href="/admin">Админка</a>
</nav>
<div id="app">
    <h5 v-if="editStatusResponse != null">{{editStatus}}</h5>
    <table class="table table-bordered">
        <thead>
        <th scope="col">ID</th>
        <th scope="col">UserName</th>
        <th scope="col">Roles</th>
        <th scope="col">Edit Button</th>
        </thead>
        <tr>
            <td>{{user.id}}</td>
            <td>
                <label>
                    <input type="text" v-model="username" name="username" :placeholder="user.username" />
                </label>
            </td>
            <td>
                <label>
                    <input type="checkbox" v-model="role_user" value="true" :checked="role_user" name="ROLE_USER"/>ROLE_USER
                </label>
                <label>
                    <input type="checkbox" v-model="role_admin" value="true" :checked="role_admin" name="ROLE_ADMIN"/>ROLE_ADMIN
                </label>
            </td>
            <td>
                <form v-on:submit.prevent="editUser">
                    <input type="submit" class="btn btn-warning editUser" value="Edit"/>
                </form>
            </td>
        </tr>
    </table>
</div>
<script>
    window.app = new Vue({
        el: '#app',
        data: {
            editStatus:'',
            username:'',
            editStatusResponse:null,
            id: window.location.href.split("/").slice(-1)[0],
            role_user:false,
            role_admin:false,
            user: null
        },
        async mounted(){
            await this.getUser()
        },
        methods: {
            getUser: function (event){
                axios.get(`/admin/user/${this.id}`)
                    .then(response=>{
                        this.user = response.data
                        for (let i=0; i<this.user.roles.length;++i) {
                            if (this.user.roles[i] === 'ROLE_USER') this.role_user = true
                            if (this.user.roles[i] === 'ROLE_ADMIN') this.role_admin = true
                        }
                    })
            },
            editUser: function (event) {
                axios.put(`/admin/user/${this.id}`,{
                    "userId": this.id,
                    "username": this.username,
                    "roleUser": this.nullCheck(this.role_user),
                    "roleAdmin": this.nullCheck(this.role_admin)
                })
                    .then(response=>{
                        this.editStatusResponse = response.data
                        this.editStatus = this.editStatusResponse? 'Пользователь успешно изменен':'Не удалось изменить пользователя'
                    })
            },
            nullCheck: function (cat){
                if (cat === null || cat ===false) return ""
                else return cat
            }
        }
    })
</script>
</body>
</html>