<!DOCTYPE html>
<html>
<head>
    <th:block th:include="general.html :: headerfiles"></th:block>
    <title>Basket</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/menu">К выбору блюд</a>
    <a class="navbar-brand" href="/">Главная</a>
</nav>
<div id="basket">
    <table class="table table-bordered">
        <thead>
            <th scope="col">Название</th>
            <th scope="col">Цена</th>
        </thead>
        <tbody>
            <tr v-for="product in this.products">
                <td>{{product.name}}</td>
                <td>{{product.count}} * {{product.price}}р.</td>
            </tr>
            <tr style="background-color: greenyellow">
                <td>Итого:</td>
                <td>{{sum}}</td>
            </tr>
        </tbody>
    </table>
    <form v-on:submit.prevent="payOrder">
        <input type="text" v-model="street" name="street" placeholder="Улица" required>
        <input type="number" v-model="house" name="house" placeholder="Дом" required>
        <input type="number" v-model="building" name="building" placeholder="Корпус" required>
        <input type="number" v-model="apartment" name="apartment" placeholder="Квартира" required>

        <input v-if="productsId.length!=0 && orderStatus!=true" type="submit" class="btn btn-primary payOrder" value="Оформить заказ">
        <input v-else type="submit" class="btn btn-primary payOrder" value="Оформить заказ" disabled>
    </form>
    <h3 v-if="orderStatus===true">Заказ Успешно выполнен</h3>
    <h3 v-else-if="orderStatus===false">Не удалось выполнить заказ, повторите попытку позже</h3>
</div>
<script>
    window.app = new Vue({
        el: '#basket',
        data: {
            order: new Map(),
            street: "",
            house: null,
            building: null,
            apartment: null,
            productsId: [],
            products: [],
            sum: 0,
            orderStatus: null
        },
        async mounted() {
            await this.getInfo();
        },
        methods: {
            getInfo: async function (event) {
                this.order = new Map(JSON.parse(localStorage.map))
                for (let key of this.order){
                    this.productsId.push(key[0])
                }
                axios.post("/getProductsById",{
                    "productsId": this.productsId
                })
                    .then(response=>{
                        this.products = response.data.products
                        for (let i = 0; i < this.products.length; i++) {
                            this.products[i].count = this.order.get(this.products[i].id)
                            this.sum+=this.products[i].price * this.products[i].count
                        }
                    })
            },
            payOrder: function (){
                this.order = new Map(JSON.parse(localStorage.map))
                let map=''
                for (let key of this.order){
                    map+=key[0]+'='+key[1]+'&'
                }
                map=map.substring(0,map.length-1);
                let address = "Ул " + this.street +
                    " д." + this.house.toString() +
                    " к." + this.building.toString() +
                    " кв." + this.apartment.toString();
                axios.post(`/formOrder?${map}&address=${address}`)
                    .then(response=>{
                        this.orderStatus=response.data
                        if(this.orderStatus===true) localStorage.removeItem('map')
                    })

            }
        }
    })
</script>
</body>
</html>